.git
.github
node_modules
vendor
.env
.env.*
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
npm-debug.log
yarn-debug.log
yarn-error.log
Dockerfile
docker-compose.yml